* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: slategray;
}

/* Header */
header {
    padding: 20px 35px;
    background-color: slategray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-image: url(./images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 50%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: wheat;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

header a {
    text-decoration: none;
    color: wheat;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

header nav ul li {
    color: wheat;
    text-shadow: none;
}

header li:hover {
    background-color: salmon;
    border-radius: 15px;
}

section {
    padding: 100px 0 130px 0;
    display: block;
}

            /* HERO */

.hero {
    background-image: url(./images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 50%;
    width: 100%;
}

.hero-cta {
    width: 35%;
    text-align: center;
    margin: 3.5%;
    color: wheat;
    font-size: 32px;
    line-height: 1.3;
    margin-top: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.hero h2 {
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 15px;
}

.logos{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 1 30;
    align-items: center;
    padding: 0;
    flex: 0 1 30vw;

}

.logos img {
    width: 100%;
    height: 70px;
}

.highlight {
    color: salmon;

        /* About Page */
}

.about-page {
    background-color: black;
    display: block;

}

.about-page h2 {
    text-align: center;
    font-size: 36px;
    color: wheat;
    padding: 45px;
    display: block;
    margin: 0 auto;
}

.border-bottom {
    position: relative;
    border-bottom: 3px solid salmon;
    display: inline-block;
}

.about-headers {
    display: flex;
    justify-content: space-between;
}

.about-header {
    align-items: center;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.about-header p {
    margin-top: 8px;
}
.about-headers ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 20%;
}

.about-headers img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}


.about-info {
    display: flex;
    justify-content: space-between;
    padding: 200px;
}

.about-info p {
    text-align: center;
    margin: 0 auto;
}

.about-info img {
    height: 500px;
    margin: auto 0;
    padding-right: 20px;
  }

.self-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }



.portfolio-info {
    background-color: black;
}

.portfolio-info h2 {
    text-align: center;
    font-size: 36px;
    color: wheat;
    padding: 45px;
    display: block;
    margin: 0 auto;
}

.projects-head {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 20px 30px 20px;
}

.projects-head a {
    text-decoration: none;
    font-size: 28px;
    color: wheat;
}

.projects-content img {
      height: 600px;
      padding-top: 20px;
  }


.placeholder-img img {
      height: 200px;
  }

.contact {
    padding: 25px;
    color: wheat;
    background-color: black;
    margin: 0 auto;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form button {
    width: 30%;
    border: none;
    background: wheat;
    color: salmon;
    text-align: center;
    padding: 5px 5px;
    font-size: 16px;
    border-radius: 10px;
  }

  .contact-form, .contact-form textarea {
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 50%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    
  }

  .contact-header {
      text-align: center;
      padding: 25px;
  }

  #contact-name {
      display: block;
      padding: 4px 12px;
      border-radius: 10px;
  }

  #contact-email {
    display: block;
    padding: 4px 12px;
    border-radius: 10px;
    
}

.contact-form button:hover {
    background-color: salmon;
  }

